.btn {
    border-radius: 0;
    width: auto;
    margin: 1 auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display:block;
    @include bp(xs){
    	margin:1em auto;
    }
}

.btn--agreement {
  height: 3em;
  background: linear-gradient($green, $green-border);
  text-align: center;
  color: #fff;
  border: 1px solid $green-border;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  &:before {
    content: '\f023';
    padding-right: 1em;
    color: $green-border;
  }
  &:after {
    content: '\f0da';
    padding-left: 1em;
    color: #fff;
  }
}

.btn--agreement::before,
.btn--agreement::after {
  font-family: FontAwesome;
  font-size: 14px;
}

