.main {
  background: $main;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.10);
  height: 100%;
  border-radius: 0 0 5px 5px;
  padding: 3em;
}

#loan--header {
  padding: 0;
  margin: 2em;
  @include bp(xs) {
    text-align: center;
  }
  @include bp(sm) {
    text-align: initial;
  }
}

.loan--header-icon {
  @include bp(sm) {
    text-align: center;
  }
  @include bp(md) {
    text-align: initial;
    padding-top: 2em;
  }
}

#loan--slider,
#loan--options,
#loan--agreement {
  padding: 1em;
  margin: 1em auto;
}

.loan--headline {
  border-bottom: 1px solid $border;
  padding: 0;
  margin-bottom: 2em;
}

.loan--content {
  background: $bg;
  padding: 2em;
  @include bp(sm) {
    text-align: center;
  }
  h3 {
    color: $green;
    margin-bottom: 20px;
    @include bp(sm) {
      margin-bottom: 10px;
      padding-top: 1em;
    }
    @include bp(md) {
      padding-top: 1.5em;
    }
    @include bp(lg) {
      padding-top: 1em;
    }
  }
  h5 {
    font-size: 100%;
    margin-top: 1em;
    font-weight: 700;
  }
}

.loan--received {
  background: $green-received;
  padding: .2em;
  margin: 0 auto;
  h6 {
    color: $green;
  }
}

#loan--options {
  border-bottom: 1px solid $border;
}

.loan--option {
  border: 1px solid $border;
  border-radius: 5px;
  margin: .5em auto;
  padding: .5em;
  line-height: 10px;
  @include bp(xs) {
    flex-direction: column;
  }
}

.highlight {
  background: $highlight;
  border: 1px solid $highlight-border;
  transition: all .5s ease;
}

.apr {
  &:after {
    content: ' \f059';
    color: $font-gray;
    font-family: FontAwesome;
    &:hover {}
  }
}

