$bg : #F8F9FB;
$main: #FFFFFF;
$nav: #2C3947;
$green: #72b661;
$green-border:#56834B;
$sliderbar:#fafafa;
$font-gray:#879298;
$font-blue:#2C3947;
$border:#DBE4E8;
$green-received:#ECF8EA;
$font-gray:#515E65;
$font-cite:#B6C3C9;
$highlight:#EBF6FF;
$highlight-border:#5298DC;